SECRET_KEY=your-secret-key-here
DEBUG=True
DATABASE_URL=postgres://postgres:postgres@localhost:5435/medbook
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL (docker-compose.yml defaults)
POSTGRES_DB=medbook
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Email: 'console' localmente, 'anymail.backends.resend.EmailBackend' en prod
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
RESEND_API_KEY=

DEFAULT_FROM_EMAIL=MedBook <noreply@yourdomain.com>
